

h1{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0.5rem 0;
    font-family: 'melody';
    text-align: center;
    color: #42324f;
}

h2{
    font-size: 1rem;
    font-weight: 400;
    margin: 0.2rem 0;
    text-align: center;
    color: #666;
    font-family: 'melody';
}

p{
    margin: 0.2rem 0;
}
